Repository appbaseio/reactivesearch, pull requests merged in 2019-12, with the labels that each got.

#1257 fix(maps): examples
  packages/maps/examples/GeoDistanceDropdown/index.html
  packages/maps/examples/GeoDistanceDropdown/package.json
  packages/maps/examples/GeoDistanceDropdown/src/index.js
  packages/maps/examples/GeoDistanceSlider/index.html
  packages/maps/examples/GeoDistanceSlider/package.json
  packages/maps/examples/GeoDistanceSlider/src/index.js
  packages/maps/examples/ReactiveMap/index.html
  packages/maps/examples/ReactiveMap/package.json
  packages/maps/examples/ReactiveMap/src/index.js
Labels: maps

#1275 fix(web): daterange clear issue
  packages/web/src/components/date/DateRange.js
Labels: web

#1274 fix(web): preventDefault for avoiding scrolling
  packages/web/src/components/list/ToggleButton.js
Labels: web

#1289 fix: beforeValueChange prop when promise is rejected (#1283)
  packages/maps/src/components/basic/GeoDistanceDropdown.js
  packages/maps/src/components/basic/GeoDistanceSlider.js
  packages/native/src/components/list/MultiDropdownList.js
  packages/native/src/components/range/MultiDropdownRange.js
  packages/native/src/components/range/RangeSlider.js
  packages/vue/src/components/list/MultiDropdownList.jsx
  packages/vue/src/components/list/MultiList.jsx
  packages/vue/src/components/list/SingleDropdownList.jsx
  packages/vue/src/components/list/SingleList.jsx
  packages/vue/src/components/list/ToggleButton.jsx
  packages/vue/src/components/range/DynamicRangeSlider.jsx
  packages/vue/src/components/range/MultiRange.jsx
  packages/vue/src/components/range/RangeSlider.jsx
  packages/vue/src/components/range/SingleRange.jsx
  packages/vue/src/components/search/DataSearch.jsx
  packages/web/src/components/basic/NumberBox.js
  packages/web/src/components/date/DatePicker.js
  packages/web/src/components/date/DateRange.js
  packages/web/src/components/list/MultiDataList.js
  packages/web/src/components/list/MultiDropdownList.js
  packages/web/src/components/list/MultiList.js
  packages/web/src/components/list/SingleDataList.js
  packages/web/src/components/list/SingleDropdownList.js
  packages/web/src/components/list/SingleList.js
  packages/web/src/components/list/TagCloud.js
  packages/web/src/components/list/ToggleButton.js
  packages/web/src/components/range/DynamicRangeSlider.js
  packages/web/src/components/range/MultiDropdownRange.js
  packages/web/src/components/range/MultiRange.js
  packages/web/src/components/range/RangeSlider.js
  packages/web/src/components/range/RatingsFilter.js
  packages/web/src/components/range/SingleDropdownRange.js
  packages/web/src/components/range/SingleRange.js
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.js
Labels: maps, native, vue, web

#1299 feat(web): include promoted results for DataSearch, CategorySearch, ReactiveComponent, ReactiveList and StateProvider
  packages/web/src/components/basic/ReactiveComponent.js
  packages/web/src/components/basic/StateProvider.js
  packages/web/src/components/result/ReactiveList.js
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.js
Labels: web

#1303 feat(vue): promoted results
  packages/vue/src/components/basic/ReactiveComponent.jsx
  packages/vue/src/components/basic/StateProvider.jsx
  packages/vue/src/components/result/ReactiveList.jsx
  packages/vue/src/components/search/DataSearch.jsx
Labels: vue
