Repository appbaseio/reactivesearch, pull requests merged in 2020-02, with the labels that each got.

#1311 refactor(vue): styles for DataSearch
  packages/vue/src/components/search/DataSearch.jsx
  packages/vue/src/styles/Input.js
  packages/vue/src/styles/InputIcon.js
  packages/vue/src/styles/theme.js
Labels: vue

#1344 fix(vue): use size prop in suggestions list
  packages/vue/src/components/search/DataSearch.jsx
Labels: vue

#1342 feat(vue): invoke onValueSelected on search icon click
  packages/vue/src/components/search/DataSearch.jsx
Labels: vue

#1356 feat: showDistinctSuggestions prop for Search Components
  packages/native/src/components/search/DataSearch.js
  packages/vue/src/components/search/DataSearch.jsx
  packages/web/src/components/search/CategorySearch.d.ts
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.d.ts
  packages/web/src/components/search/DataSearch.js
Labels: native, vue, web

#1361 fix(web): set url only if values are different
  packages/web/src/components/basic/URLParamsProvider.js
Labels: web

#1357 fix(web): block toggling of mic state when microphone access blocked
  packages/web/src/components/search/addons/Mic.js
Labels: web

#1352 feat(vue): voice search
  packages/vue/src/components/search/DataSearch.jsx
  packages/vue/src/components/search/addons/Mic.jsx
  packages/vue/src/components/shared/ListenSvg.js
  packages/vue/src/components/shared/MicSvg.js
  packages/vue/src/components/shared/MuteSvg.js
  packages/vue/src/styles/MicIcon.js
Labels: vue
