Repository appbaseio/reactivesearch, pull requests merged in 2020-03, with the labels that each got.

#1380 feat(web): rawData to provide as-is response from es in render prop
  packages/web/src/components/basic/ReactiveComponent.js
  packages/web/src/components/basic/StateProvider.js
  packages/web/src/components/list/MultiDataList.js
  packages/web/src/components/list/MultiDropdownList.js
  packages/web/src/components/list/MultiList.js
  packages/web/src/components/list/SingleDataList.js
  packages/web/src/components/list/SingleDropdownList.js
  packages/web/src/components/list/SingleList.js
  packages/web/src/components/result/ReactiveList.js
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.js
Labels: web

#1382 feat(vue): rawData to provide as-is response from es in render slot
  packages/vue/src/components/basic/ReactiveComponent.jsx
  packages/vue/src/components/basic/StateProvider.jsx
  packages/vue/src/components/list/MultiDropdownList.jsx
  packages/vue/src/components/list/MultiList.jsx
  packages/vue/src/components/list/SingleDropdownList.jsx
  packages/vue/src/components/list/SingleList.jsx
  packages/vue/src/components/result/ReactiveList.jsx
  packages/vue/src/components/search/DataSearch.jsx
Labels: vue

#1377 feat(web): Reactivesearch API Integration
  packages/web/package.json
  packages/web/src/components/basic/NumberBox.js
  packages/web/src/components/basic/ReactiveBase.js
  packages/web/src/components/basic/ReactiveComponent.js
  packages/web/src/components/basic/StateProvider.js
  packages/web/src/components/date/DatePicker.js
  packages/web/src/components/date/DateRange.js
  packages/web/src/components/list/MultiDataList.js
  packages/web/src/components/list/MultiDropdownList.js
  packages/web/src/components/list/MultiList.js
  packages/web/src/components/list/SingleDataList.js
  packages/web/src/components/list/SingleDropdownList.js
  packages/web/src/components/list/SingleList.js
  packages/web/src/components/list/TagCloud.js
  packages/web/src/components/list/ToggleButton.js
  packages/web/src/components/range/DynamicRangeSlider.js
  packages/web/src/components/range/MultiDropdownRange.js
  packages/web/src/components/range/MultiRange.js
  packages/web/src/components/range/RangeSlider.js
  packages/web/src/components/range/RatingsFilter.js
  packages/web/src/components/range/SingleDropdownRange.js
  packages/web/src/components/range/SingleRange.js
  packages/web/src/components/result/ReactiveList.js
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.js
  yarn.lock
Labels: web

#1389 fix: update default showDistinctSuggestions value to true
  packages/vue/src/components/search/DataSearch.jsx
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.js
Labels: vue, web
