Repository appbaseio/reactivesearch, pull requests merged in 2020-05, with the labels that each got.

#1443 fix(web): hide mic for browsers not supporting SpeechRecognition
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.js
Labels: web

#1420 fix(web): customQuery and defaultQuery frequently called
  packages/web/src/components/list/MultiDataList.js
  packages/web/src/components/list/MultiDropdownList.js
  packages/web/src/components/list/MultiList.js
  packages/web/src/components/list/SingleDataList.js
  packages/web/src/components/list/SingleDropdownList.js
  packages/web/src/components/list/SingleList.js
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.js
  packages/web/src/utils/index.js
Labels: tested, web

#1447 fix(web): call onChange when clear icon is clicked
  packages/web/src/components/search/DataSearch.js
Labels: web

#1446 fix(web): mic behavior with autosuggest
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.js
Labels: web

#1426 feat(web): controlled component behavior for DateRange
  packages/web/examples/DateRangeControlled/.babelrc
  packages/web/examples/DateRangeControlled/.gitignore
  packages/web/examples/DateRangeControlled/index.html
  packages/web/examples/DateRangeControlled/package.json
  packages/web/examples/DateRangeControlled/src/index.css
  packages/web/examples/DateRangeControlled/src/index.js
  packages/web/examples/DateRangeControlled/webpack.config.js
  packages/web/src/components/date/DateRange.js
Labels: tested, web

#1453 fix(web): dataField prop in RangeInput.d.ts
  packages/web/src/components/range/RangeInput.d.ts
Labels: web

#1450 chore(maps): change cluster url
  packages/maps/examples/GeoDistanceDropdown/src/index.js
  packages/maps/examples/GeoDistanceSlider/src/index.js
  packages/maps/examples/ReactiveMap/src/index.js
Labels: maps

#1457 feat(web): first class support for query suggestions
  packages/web/package.json
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.js
  packages/web/src/utils/index.js
Labels: web

#1462 fix(web): typings for query suggestions props
  packages/web/src/components/search/CategorySearch.d.ts
  packages/web/src/components/search/DataSearch.d.ts
Labels: web

#1463 perf(vue): avoid redundant queries on mount
  packages/vue/src/components/basic/ReactiveComponent.jsx
  packages/vue/src/components/list/MultiDropdownList.jsx
  packages/vue/src/components/list/MultiList.jsx
  packages/vue/src/components/list/SingleDropdownList.jsx
  packages/vue/src/components/list/SingleList.jsx
  packages/vue/src/components/list/ToggleButton.jsx
  packages/vue/src/components/range/DynamicRangeSlider.jsx
  packages/vue/src/components/range/MultiRange.jsx
  packages/vue/src/components/range/RangeSlider.jsx
  packages/vue/src/components/range/SingleRange.jsx
  packages/vue/src/components/search/DataSearch.jsx
Labels: vue

#1459 feat(vue): first class support for query suggestions
  packages/vue/package.json
  packages/vue/src/components/search/DataSearch.jsx
  packages/vue/src/utils/index.js
Labels: vue

#1435 feat(vue): reactive defaultQuery and customQuery
  packages/vue/src/components/list/MultiDropdownList.jsx
  packages/vue/src/components/list/MultiList.jsx
  packages/vue/src/components/list/SingleDropdownList.jsx
  packages/vue/src/components/list/SingleList.jsx
  packages/vue/src/components/list/ToggleButton.jsx
  packages/vue/src/components/list/utils.js
  packages/vue/src/components/range/DynamicRangeSlider.jsx
  packages/vue/src/components/range/MultiRange.jsx
  packages/vue/src/components/range/RangeSlider.jsx
  packages/vue/src/components/range/SingleRange.jsx
  packages/vue/src/components/result/ReactiveList.jsx
Labels: tested, vue

#1429 fix(web): defaultSortOption not getting applied for SSR
  packages/web/examples/ssr/pages/index.js
  packages/web/src/components/result/ReactiveList.js
Labels: tested, web

#1465 fix(vue): querySuggestions value from redux state
  packages/vue/src/components/search/DataSearch.jsx
Labels: vue

#1448 fix(vue): dataField optional for DataSearch for rs-api
  packages/vue/src/components/search/DataSearch.jsx
Labels: vue

#1464 chore(vue): migrate apps to point to appbase-tryout cluster
  packages/vue/demos/good-books/src/App.vue
  packages/vue/examples/data-search-custom-suggestions/src/App.vue
  packages/vue/examples/data-search/src/App.vue
  packages/vue/examples/dynamic-range-slider/src/App.vue
  packages/vue/examples/multi-Range/src/App.vue
  packages/vue/examples/multi-dropdown-list/src/App.vue
  packages/vue/examples/multi-list-nested/src/App.vue
  packages/vue/examples/multi-list/src/App.vue
  packages/vue/examples/range-slider/src/App.vue
  packages/vue/examples/reactive-component-with-custom-query/src/App.vue
  packages/vue/examples/reactive-component/src/App.vue
  packages/vue/examples/reactive-list/src/App.vue
  packages/vue/examples/reactivelist-with-aggregation/src/App.vue
  packages/vue/examples/reactivelist-without-aggregation/src/App.vue
  packages/vue/examples/result-card/src/App.vue
  packages/vue/examples/result-list/src/App.vue
  packages/vue/examples/single-dropdown-list/src/App.vue
  packages/vue/examples/single-list/src/App.vue
  packages/vue/examples/single-range/src/App.vue
  packages/vue/examples/toggle-button/src/App.vue
  packages/vue/examples/with-nuxt/pages/index.vue
  packages/vue/examples/with-ssr/pages/index.vue
Labels: vue

#1466 refactor(vue): watch for SingleList.jsx
  packages/vue/src/components/list/SingleList.jsx
Labels: vue

#1469 chore(maps): automate version upgrae script
  package-scripts.js
  packages/maps/package.json
Labels: maps

#1477 build(web): migrate emotion for all components
  packages/maps/package.json
  packages/maps/src/components/basic/GeoDistanceDropdown.js
  packages/maps/src/components/basic/GeoDistanceSlider.js
  packages/maps/src/components/result/GoogleMapMarker.js
  packages/maps/src/components/result/ReactiveOpenStreetMap.js
  packages/maps/src/components/result/addons/styles/MapPin.js
  packages/web/examples/ssr/package.json
  packages/web/examples/ssr/pages/_document.js
  packages/web/package.json
  packages/web/src/components/basic/NumberBox.js
  packages/web/src/components/basic/SelectedFilters.js
  packages/web/src/components/list/ToggleButton.js
  packages/web/src/components/range/DynamicRangeSlider.js
  packages/web/src/components/range/RangeSlider.js
  packages/web/src/components/range/RatingsFilter.js
  packages/web/src/components/range/addons/HistogramContainer.js
  packages/web/src/components/range/addons/StarRating.js
  packages/web/src/components/result/ReactiveList.js
  packages/web/src/components/result/addons/Pagination.js
  packages/web/src/components/search/CategorySearch.js
  packages/web/src/components/search/DataSearch.js
  packages/web/src/components/search/addons/Highlight.js
  packages/web/src/components/search/addons/SuggestionItem.js
  packages/web/src/components/search/addons/SuggestionWrapper.js
  packages/web/src/components/shared/Dropdown.js
  packages/web/src/styles/Base.js
  packages/web/src/styles/Button.js
  packages/web/src/styles/Card.js
  packages/web/src/styles/Chevron.js
  packages/web/src/styles/Container.js
  packages/web/src/styles/Content.js
  packages/web/src/styles/DateContainer.js
  packages/web/src/styles/Flex.js
  packages/web/src/styles/FormControlList.js
  packages/web/src/styles/Histogram.js
  packages/web/src/styles/Input.js
  packages/web/src/styles/InputIcon.js
  packages/web/src/styles/Label.js
  packages/web/src/styles/ListItem.js
  packages/web/src/styles/MicIcon.js
  packages/web/src/styles/PoweredByImage.js
  packages/web/src/styles/Select.js
  packages/web/src/styles/Slider.js
  packages/web/src/styles/TagList.js
  packages/web/src/styles/Title.js
  packages/web/src/styles/ratingsList.js
  packages/web/src/styles/results.js
  yarn.lock
Labels: maps, web

#1441 fix(web): customQuery for ssr
  packages/web/src/server/index.js
Labels: tested, web

#1478 fix(web): child-selector ssr injection error
  packages/web/src/styles/Button.js
  packages/web/src/styles/FormControlList.js
  packages/web/src/styles/ListItem.js
Labels: web

#1480 fix(web): global injection class for emotion
  packages/web/src/components/shared/ListenSvg.js
  packages/web/src/components/shared/MicSvg.js
  packages/web/src/components/shared/MuteSvg.js
Labels: web
