Repository appbaseio/reactivesearch, pull requests merged in 2022-09, with the labels that each got.

#2066 fix(web): trigger query on enter key press
  packages/web/src/components/search/SearchBox.js
Labels: web

#2064 fix(web): fix debounce issue with controlled usage in datasearch
  packages/web/src/components/search/DataSearch.js
Labels: web

#2071 fix(vue): controlled usage failed with multiselect mode - DataSearch
  packages/vue/src/components/search/DataSearch.jsx
Labels: vue

#1646 Button instead of anchor
  packages/vue/src/styles/Button.js
Labels: breaking :boom:
