Repository appbaseio/reactivesearch, pull requests merged in 2023-01, with the labels that each got.

#2156 web: add path-based-routing example
  packages/web/examples/PathBasedRouting/.env
  packages/web/examples/PathBasedRouting/.gitignore
  packages/web/examples/PathBasedRouting/package.json
  packages/web/examples/PathBasedRouting/public/favicon.ico
  packages/web/examples/PathBasedRouting/public/index.html
  packages/web/examples/PathBasedRouting/public/manifest.json
  packages/web/examples/PathBasedRouting/src/components/SearchUI.js
  packages/web/examples/PathBasedRouting/src/index.css
  packages/web/examples/PathBasedRouting/src/index.js
  packages/web/examples/PathBasedRouting/src/utils.js
Labels: web

#2145 fix(web): incorrect import for style prop type
  packages/web/src/components/shared/SearchSvg.js
Labels: web

#2155 fix(vue): datasearch component tags mode for autosuggest off
  packages/vue/src/components/search/DataSearch.jsx
Labels: vue

#2157 fix(web): ssr example sandbox config
  packages/web/examples/ssr/sandbox.config.json
Labels: web

#2144 fix(web): add renderSelectedTags missing prop def
  packages/web/src/components/search/DataSearch.d.ts
  packages/web/src/components/search/SearchBox.d.ts
Labels: web

#2146 feat(web): add setPage prop in render props
  packages/web/src/components/result/ReactiveList.js
Labels: web

#2167 chore(web-maps): upgrade rheostat dependency
  packages/maps/package.json
  packages/web/package.json
Labels: maps, web

#2160 Refactor dependencies
  packages/web/examples/ssr/package.json
  packages/web/examples/ssr/pages/_app.js
  packages/web/examples/ssr/pages/index.js
  packages/web/examples/ssr/pages/styles/airbnb.css
  packages/web/examples/ssr/pages/styles/movies.css
  packages/web/examples/ssr/pages/utils/index.js
Labels: web

#1585 fix: web #1555 RangeSlider - inappropriate role for element
  packages/web/src/components/range/addons/SliderHandle.js
Labels: breaking :boom:
